@import "normalize.css";
@import "typography.css";

:root {
  font-family: Inter;
  color-scheme: light dark;
  --primary: #146219;
  --secondary: #F0E7D5;
}



.header{
  display: flex;
  padding: 1em;
  justify-content: space-between;
  position: relative;
}


.header__logo{
  width: 3.4375rem;
  height: 3.375rem;
  flex-shrink: 0;
  color: #146219;
}

.obrazekatext{
  position: relative;
  text-align: center;
}

.stred{
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  color: white;
}
.obrazek{
  width: 100%;
  height: auto;
}

.text{
  text-align: center;
  padding: 0 1em;
}

.button{
  display: inline-block;
  background-color: var(--primary);
  color: white;
  padding: 0.5em 1em;
  border-radius: .5em;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.button:hover{
  background-color: #007508;
  color: white;
}
.button--hlavni{
  display: flex;
  justify-content: center;
}



.textm{
  color: #146219;
  text-align: center;
  font-size: 2rem;
}

.ramecek{
display: flex;
background-color: var(--secondary);
margin: 1em;
border-radius: 2rem;
}

.obrazekprace{

  border-radius: rem;
}

.konec{
  background-color: var(--secondary);
  padding: .25em;
  margin: 0;
  text-align: center;
}





